<%- include('partials/header'); -%>




<h1>Our Mission 🚀</h1>
<h3>There's this notion that to grow a business, you have to be ruthless. But we know there's a better way to grow. One where what's good for the bottom line is also good for customers. We believe businesses can grow with a conscience, and succeed with a soul — and that they can do it with inbound. That's why we've created an ecosystem uniting software, education, and community to help businesses grow better every day.</h3>
<br><br><h1>Connect With Me </h1>
<a href="https://www.linkedin.com/in/aniket-surjey-a108671a9/" target="_blank"><u><h1>Aniket Surjey</h1></u></a>
<br><br><br><br><br><br>
<i><center><h1>Read, write, and expand your world.</h1></center></i>


<%- include('partials/footer'); -%>