<%- include('partials/header'); -%>


<h1>Contact</h1>

<form action="/contact" method="post">

    <div class="form-group">
    <label for="">Name</label>
    <input class="form-control" type="text" name="Name" id="">
    <label for="">Gmail</label>
    <input class="form-control" type="email" name="Gmail" id="">
    </div>
    <input class="btn btn-primary" type="submit" value="Send Us.">
    
    </form>



<%- include('partials/footer'); -%>